@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Nanum+Gothic:wght@400;700;800&family=Sansita+Swashed:wght@400;900&display=swap');

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif, 'Sansita Swashed', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Lobster', cursive, 'Dancing Script', cursive ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
