.swipeButtons {
    position: fixed;
    bottom : 10vh;
    left: 90vh;
    /* width: 100%; */
    display: flex; 
    justify-content: space-between;
    /* position: absolute; */
    align-self: center;

}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    margin-right: 10px;
    border: 1px solid #d8d8d8;

    /* box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important; */
}

.swipeButtons__repeat {
    padding: 2vw !important;
    color : #f5b748 !important;
}

.swipeButtons__left {
    padding: 2vw !important;
    color : #ec5e6f !important;
}
.swipeButtons__start {
    padding: 2vw !important;
    color : #62b4f9 !important;
}
.swipeButtons__right {
    padding: 2vw !important;
    color : #76e2b3 !important;
}
.swipeButtons__lightning {
    padding: 2vw !important;
    color : #915dd1 !important;
}
